<div id="container_margin" class="container">
    <h2 align="center"><b>O que são drogas?</b></h2>
    <br>
       <p id="margin_correction" align="justify">
           &nbsp;&nbsp;&nbsp;&nbsp;Droga é toda e qualquer substância, natural ou sintética que, introduzida no organismo modifica suas funções. As drogas naturais são obtidas através de determinadas plantas,de animais e de alguns minerais. Exemplo a cafeína (do café), a nicotina (presente tabaco), o ópio (na papoula) e o THC tetrahidrocanabiol (da maconha). As drogas sintéticas são fabricadas em laboratório, exigindo para isso técnicas especiais. O termo droga, presta-se a várias interpretações, mas comumente suscita a idéia de uma substância proibida, de uso ilegal e nocivo ao indivíduo, modificando-lhe as funções, as sensações, o humor e o comportamento. As drogas estão classificadas em três categorias: as estimulantes, os depressores e os perturbadores das atividades mentais. O termo droga envolve os analgésicos, estimulantes, alucinógenos, tranquilizantes e barbitúricos, além do álcool e substâncias voláteis. As psicotrópicas, são as drogas que tem tropismo e afetam o Sistema Nervoso Central, modificando as atividades psíquicas e o omportamento. Essas drogas podem ser absorvidas de várias formas: por injeção, por inalação, via oral, injeção intravenosa ou aplicadas via retal (supositório).
        </p>
    <br>
        <%= render "drugs_square" %>
    <hr>
    <div>
        <%= render :partial=>"drugs_graphs", :locals=>{drugs:@drugs}%>
    </div>
</div>