<div class="row">
    <div class="col-md-12" style="text-align: center">
        <h1><span class="glyphicon glyphicon-map-marker"></span>Mapa geral</h1>
        <hr/>
    </div>
    <div class="col-md-8">
    <br>
    <br>
    <!--Div that will hold the pie chart-->
    <div id="geochart_div" style="width: 900px; height: 500px;"></div>
    </div>
    <div class="col-md-4">
        <br>
        <br>
        <p align="justify">
            &nbsp;&nbsp;&nbsp;&nbsp;O Censo das Comunidades Terapêuticas no Brasil foi uma ampliação da área contemplada anteriormente pelo Projeto Ações Integradas. Também financiado pela Secretaria Nacional de Políticas sobre Drogas - SENAD, do Ministério da Justiça, e coordenado pelo Centro de Estudos e Pesquisas em Álcool e outras Drogas - CPAD do Hospital de Clínicas de Porto Alegre, o objetivo do Censo foi levantar, identificar e mapear em todo o Brasil as instituições de atendimento a usuários de álcool e outras drogas que se enquadram na categoria de Comunidades Terapêuticas.
        </p>
    </div>
</div>
    <br>
    <p align="justify">
        &nbsp;&nbsp;&nbsp;&nbsp; Mapa do Brasil contendo a quantidade de CT's em cada estado. <i>Clique no estado para mais informações sobre as clínicas.</i>
    </p>