<div class="panel panel-default">
	<div class="panel-heading">
		<h1 class="panel-title">Quiz </h1>
	</div>
	<div class="panel-body">
		<h4>Responda as perguntas a seguir. Elas ajudam a identificar um possível usuário de drogas.</h4><br>
		<table>
			<% @question.each do |question| %>
				<tr>
					<td><%= question.content %></td>
					<td><%= link_to 'Editar', {:action => "edit", :id => question.id} %></tr>
				</tr>
		    <% end %>
		</table>
		<a href="/home" class="btn btn-danger" role="presentation">Cancelar</a>
		</button>
	</div>
</div>