<div class="panel panel-default">
	<div class="panel-heading">
		<h1 class="panel-title">Quiz </h1>
	</div>
	<% flash.each do |name, msg| %>
		<%= content_tag :div, msg, :id => "flash_#{name}" %>
	<% end %>
	<div class="panel-body">
		<center>
		<h4>Estas perguntas fazem parte de um quiz para ajudar a identificar um possível usuário de drogas. Respostas positivas indicam um possível dependente.</h4><br>
		<table style="width:75%" class="table table-hover">
			<% @question.each do |question| %>
				<tr>
					<td><%= question.content %><br></td>
					<td><%= link_to "Editar", {:action => "edit", :id => question.id} %><br></td>
					<td><%= link_to "Excluir", "/questions/#{question.id}", :method => :delete, data: {confirm: "Tem Certeza?"} %></td>
				</tr>
		    <% end %>
		</table>
		<a href="/home" class="btn btn-danger" role="presentation">Cancelar</a>
		</button>
	</center>
	</div>
</div>