<h1>Nova Pergunta</h1>
<p>Tenha em mente que respostas verdadeiras devem indicar o possível uso de drogas pelo usuário que responder o questionário.</p>
<%= bootstrap_form_for(@question) do |t| %>
	<%= t.text_field :content, label: "Pergunta", required: true %>
	<%= t.submit "Enviar" %>
	<%= link_to "Cancelar", :back, {:class=>"btn btn-default"} %>
	<% end %>