<p>A pontuação final foi alta, o que pode indicar que a pessoa sobre quem foi respondido o quiz pode ser um usuário de drogas. Lembre-se, existem outros motivos que podem levar a resultados semelhantes, de forma que eles não são definitivos. Existem outras organizações capazes de oferecer mais ajuda. Você gostaria de ser redirecionado à página de campanhas?</p>
<a href="/campanhas" class="btn btn-success" role="presentation">SIM</a>
<a href="/home" class="btn btn-danger" role="presentation">NÃO</a>