<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Resultado</h3>
	</div>
	
	<div class="panel-body">
	<%= @question.counter %> 
    <p id="notice"><%= flash[:notice] %></p>
	</div>
	 
</div>