<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Resultado</h3>
	</div>
	
	<div class="panel-body">
	<h2>Pontuação total: <%= @question.counter %> de <%= @question.id %></h2> 
    <p id="notice"><%= flash[:notice] %></p>
	</div>
	 
</div>