<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Questão nº <%= @question.id %></h3>
	</div>
	<div class="panel-body">
		<p><%=@question.content%></p>
		<h5><b>Pontos:</b> <%=@question.points%></h5>
		<div>
			<%=link_to 'Editar', edit_question_path(@question)%>
		</div>
	</div>
</div>