<h1>Meu Perfil</h1>
<body>
	Teste/teste/teste/teste<br />
	Teste: 
	<select name="Clinica">
		<option value = "clin1">Clinica1</option>
		<option value = "clin2">Clinica2</option>
	</select>	




</body>

