
<!DOCTYPE html>
<html>
<head>
	<title>Meu Perfil</title>
</head>

<body>
	<h1 align="center">Meu Perfil</h1>
	<table align="center">
		<tr>
			<td width="200">Editar</td>
			<td><%= link_to "Log out", logout_path%></td>
		</tr>
	</table>

	<table width="300px">
		<tr>
			<td>Nome:</td>
			<td><%= current_user.name %></td>
		</tr>
		<tr>
			<td>Email:</td>
			<td><%= current_user.email %></td>		
		</tr>
	</table>
</body>
</html>

