<div id="container_margin" class="container">
<head>
    <title>Saiba Mais</title>
</head>
<h2><span class="glyphicon glyphicon-wrench"></span><strong>&nbsp;Funcionalidades</strong></h2>
<br>
<div class="row">
    <div class="col-md-6">
        <h3 id="margin_correction"><i>Campanha Anti-Drogas - <b>CAD</b></i></h3>
        <p id="margin_correction" align="justify">
            &nbsp;&nbsp;&nbsp;&nbsp;A campanha anti-drogas tem o intuito de fornecer ao visitante do site informações sobre diversos outros tipos de campanhas referentes ao combate e prevenção ao uso de drogas, tendo como objetivo principal orientar e esclarecer os visitantes sobre os principais problemas provocados pelo consumo de drogas.
        </p>
        <a href="/CAD" class="btn btn-warning" role="button">Saiba mais!</a>
    </div>
    <div class="col-md-6">
        <h3 id="margin_correction"><i>Drogas</i></h3>
        <p id="margin_correction"  align="justify">
            &nbsp;&nbsp;&nbsp;&nbsp;Essa área do site tem como objetivo ser uma ferramenta de informação acerca dessas substâncias químicas, contendo os seus principais tipos seguidos de suas descrições em um quadro resumo, além de ter um gráfico ilustrando algumas comparações  entre elas.
        </p>
        <br>
        <a href="/drogas" class="btn btn-warning" role="button">Saiba mais!</a>
    </div>
        </div>
    <br>
    <div class="row">
        <div class="col-md-6">
        <h3 id="margin_correction"><i>Comunidades Terapeuticas</i></h3>
        <p id="margin_correction"  align="justify">
            &nbsp;&nbsp;&nbsp;&nbsp;Oferecem gratuitamente acolhimento para pessoas com transtornos decorrentes do uso, abuso ou dependência de drogas.
        </p>
        <br>
        <a href="/clinics" class="btn btn-warning" role="button">Saiba mais!</a>
    </div>
    <div class="col-md-6">
        <h3 id="margin_correction"><i>Mapas</i></h3>
        <p id="margin_correction"  align="justify">
            &nbsp;&nbsp;&nbsp;&nbsp;Auxilio visual e geográfico referente aos dados recolhidos sobre as unidade terapêuticas, para que o visitante possa localizar as clínicas por região e estado.
        </p>
        <a href="/clinics" class="btn btn-warning" role="button">Saiba mais!</a>
    </div>
    </div>
    <br>
    <br>
    <br>
</div>
