<html>
<head>
    <title>Saiba Mais</title>
</head>
<body>
<div class = "row">
	<div class = "col-md-6">
		<h2>OBJETIVO</h2>
		<p align="justify">
		&nbsp;&nbsp;&nbsp;&nbsp;O objetivo principal do projeto é  fazer uma boa utilização dos dados disponibilizados abertamente pelo governo, seguindo as diretrizes do programa “Dados Abertos”. Para tanto, foram realizadas extensas pesquisas na área, tendo como objetivo decidir a melhor forma de se alcançar o mesmo.
	</p>
	</div>
	<div class = "col-md-6">
		<h2>FINALIDADE</h2>
		<p align="justify">
		&nbsp;&nbsp;&nbsp;&nbsp;O site tem a finalidade de não só exibir dados já disponíveis com maior praticidade, como também fornecerá informações e diversas funcionalidades que levam à divulgação de um problema maior, tão como à conscientização dos visitantes do site por meio de informações relacionadas às drogas, além de funcionar como um alerta ao exibir estatísticas reais relacionados aos problemas envolvendo drogas. Além de oferecerer auxilio na busca de tratamento de usuarios de drogas em unidades teraeuticas, contando com descriçao e local das clinicas.
</p>
	</div>
</div>
<hr>
<p>
	&nbsp;&nbsp;&nbsp;&nbsp;Em suma e um site que direciona, na forma de ajudar, um usuário de drogas a um determinado tipo de tratamento e que ao mesmo tempo possua artifícios para conscientizar a população e até mesmo o próprio usuário sobre a consequência do uso dessas substâncias.
</p>
<br>
<h2>FUNCIONALIDADES</h2>
<div class="row">
    <div class="col-md-6">
        <h3>CAD</h3>
        <p align="justify">
            &nbsp;&nbsp;&nbsp;&nbsp;A campanha anti-drogas tem o intuito de fornecer ao visitante do site informaçoes sobre diversos outros tipos de campanhas referentes ao combate e prevençao ao uso de drogas, tendo como objetivo principal orientar e esclarecer os visitantes sobre os principais problemas provocados pelo consumo de drogas.
        </p>
    </div>
    <div class="col-md-6">
        <h3>Drogas</h3>
        <p align="justify">
            &nbsp;&nbsp;&nbsp;&nbsp;Essa area do site tem como objetivo ser uma ferramenta de informaçao acerca dessas substancias quimicas, contendo os seus principais tipos seguidos de suas descriçoes em um quadro resumo, alem de ter um grafico ilustrando algumas comparaçoes  entre elas.
        </p>
            </div>
        </div>
    <div class="row">
        <div class="col-md-6">
        <h3>Comunidades Terapeuticas</h3>
        <p align="justify">
            &nbsp;&nbsp;&nbsp;&nbsp;Oferecem gratuitamente acolhimento para pessoas com transtornos decorrentes do uso, abuso ou dependência de drogas.
        </p>
    </div>
    <div class="col-md-6">
        <h3>Mapas</h3>
        <p align="justify">
            &nbsp;&nbsp;&nbsp;&nbsp;Auxilio visual e geografico referente aos dados recolhidos sobre as unidade terapêuticas, para que o visitante possa localizar as clinicas por região e estado.
        </p>
    </div>
    </div>
</body>
</html>
