<body>
    <header class="business-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="tagline">Sistema de Unidades Terapêuticas</h1>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <hr>
        <div class="row">
            <div class="col-sm-8">
                <p align="justify">&nbsp;&nbsp;Esse site tem como finalidade exibir dados já disponíveis com maior praticidade,
                 como também fornecerá informações e diversas funcionalidades que levam à divulgação de um problema maior,
                 tão como à conscientização da população por meio de informações relacionadas às drogas, além de funcionar
                 como um alerta ao exibir estatísticas reais relacionados aos problemas envolvendo drogas.</p>
                 <p align="right"><a href="/saiba_mais" class="btn btn-default" role="button">Saiba mais</a></p>
            </div>
            <div class="col-sm-4">
            <img class="img-responsive img-center" src="<%=image_path "sct.jpg"%>">
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-4">
            <a href="/drogas">
                <img id="image_home" class="img-circle img-responsive img-center dorgas-image" src="<%=image_path "drogas.jpg"%>">
            </a>
                <h2>CAD</h2>
                <br>
                <br>
                <p align="justify">Camapanha anti-drogas, voltado parar o apoio e auxilido de usuarios de drogas que querem
                    se livrar da dependencia.</p>
            </div>
            <div class="col-sm-4">
            <a href="/drogas">
                <img id="image_home" class="img-circle img-responsive img-center dorgas-image" src="<%=image_path "tipos.jpg"%>">
            </a>
                <h2>Informações</h2>
                <br>
                <br>
                <p align="justify">Informações sobre os efeitos e informações gerais das drogas, contendo também informações
                    sobre os principais tipos de drogass.</p>
            </div>
            <div class="col-sm-4">
            <a href="/clinics">
                <img id="image_home" class="img-circle img-responsive img-center dorgas-image" src="<%=image_path "clinicas.jpg"%>">
            </a>
                <h2>Comunidades terapêuticas</h2>
                <p align="justify">Oferecem gratuitamente acolhimento para pessoas com transtornos decorrentes do uso, abuso
                    ou dependência de drogas.</p>
            </div>
        </div>
        <hr>
        <footer></footer>
    </div>
</body>
</html>

