<div class"container">
    <div class="row">
      <div class="col-md-3">
        <div class="thumbnail">
          <img id="Thumb" src="<%=image_path "sct.jpg"%>">
            <div class="caption">
            <center><h3> Sistema de comunidades terapêuticas </h3></center>
            <p>
            <font size="4" face="Arial">&nbsp;&nbsp;O projeto das comunidades terapêuticas visa trazer mais informações sobre as unidades de tratamento
            e apoio a dependentes, além de dar uma visão geral sobre as drogas e seus perigos, sendo um mecanismo
            de apoio a qualquer cidadão que deseja sair deste mundo.
            </font>
            </p><a href="/drogas" class="btn btn-primary" role="button">Saiba mais!</a></p>
            </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="thumbnail">
          <img id="Thumb" src="<%=image_path "verdades.jpg"%>">
            <div class="caption">
            <center><h3>Informações</h3></center>
            <p>
            <font size="4" face="Arial">&nbsp;&nbsp;&nbsp;&nbsp;Droga é toda e qualquer substância, natural ou sintética
            que, introduzida no organismo modifica suas funções. As drogas naturais são obtidas através de determinadas plantas,de animais e de alguns minerais.
            </font>
            </p><a href="/drogas" class="btn btn-primary" role="button">Saiba mais!</a></p>
            </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="thumbnail">
          <img id="Thumb" src="<%=image_path "drogas2.jpg"%>">
            <div class="caption">
              <center><h3>CAD - Campanha anti drogas</h3></center>
              <p>
              <font size="4" face="Arial">&nbsp;&nbsp;O projeto das comunidades terapêuticas visa trazer mais informações sobre as unidades de tratamento
              e apoio a dependentes, além de dar uma visão geral sobre as drogas e seus perigos, sendo um mecanismo
              de apoio a qualquer cidadão que deseja sair deste mundo.
              </font>
              </p><a href="/drugs" class="btn btn-primary" role="button">Saiba mais!</a></p>
            </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="thumbnail">
          <img id="Thumb" src="<%=image_path "clinicaterapeutica.jpg"%>">
            <div class="caption">
              <center><h3>Clínicas terapêuticas</h3></center>
              <p>
              <font size="4" face="Arial">&nbsp;&nbsp;O projeto das comunidades terapêuticas visa trazer mais informações sobre as unidades de tratamento
              e apoio a dependentes, além de dar uma visão geral sobre as drogas e seus perigos, sendo um mecanismo de apoio a qualquer cidadão que deseja sair deste mundo.
              </font>
              </p><a href="/drugs" class="btn btn-primary" role="button">Saiba mais!</a></p>
              </div>
        </div>
      </div>
    </div>
</div>
