<div align="center" id="conteiner_home" class="conteiner">
    <img id="image_home" src="<%=image_path "SCT.png"%>">
</div>
<br>
<br>
<br>
<section>
    <div id="container_margin" class="container">
        <div class="row">
            <div class="col-md-8">
            <h2><span class="glyphicon glyphicon-exclamation-sign"></span><strong>&nbsp;Objetivo e Finalidade</strong></h2>
            <br>
                <p id="margin_correction" align="justify">
                    &nbsp;&nbsp;&nbsp;&nbsp;O objetivo principal do projeto é  fazer uma boa utilização dos dados disponibilizados abertamente pelo governo, seguindo as diretrizes do programa “Dados Abertos”. Para tanto, foram realizadas extensas pesquisas na área, tendo como objetivo decidir a melhor forma de se alcançar o mesmo.</p>
                <p id="margin_correction" align="justify">
                    &nbsp;&nbsp;&nbsp;&nbsp;O site tem a finalidade de não só exibir dados já disponíveis com maior praticidade, com o intuito de  oferecerer auxilio na busca de tratamento de usuarios de drogas em unidades teraeuticas, como também fornecerá informações e diversas funcionalidades que levam à divulgação de um problema maior, tão como à conscientização dos visitantes do site por meio de informações relacionadas às drogas, além de funcionar como um alerta ao exibir estatísticas reais relacionados aos problemas envolvendo drogas.</p>
                <p id="margin_correction" align="justify">
                    &nbsp;&nbsp;&nbsp;&nbsp;Em suma e um site que direciona, na forma de ajudar, um usuário de drogas a um determinado tipo de tratamento e que ao mesmo tempo possua artifícios para conscientizar a população e até mesmo o próprio usuário sobre a consequência do uso dessas substâncias.</p>
                </p>
            </div>
        <h2><span class="glyphicon glyphicon-thumbs-up"></span><b>&nbsp;Depoimentos</b></h2>
            <% @testimonial.each do |t|%>
                <% if t.testimonial_authenticate %>
                    <div class="col-md-offset-8">
                        <h3><b><%= simple_format(t.title) %></b></h3>
                        <br>
                        <h5><%= simple_format(t.body) %></b></h5>
                        <br>
                        <hr>
                    </div>
                <% end %>
            <%end%>
        </div>
        </div>
    </div>
</section>
<section>
    <%= render "home_about" %>
</section>


