<body>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h1>Sistema de Comunidades Terapêuticas</h1>
          <p align="justify">O projeto das comunidades terapêuticas visa trazer mais informações sobre as unidades de tratamento
              e apoio a dependentes, além de dar uma visão geral sobre as drogas e seus perigos, sendo um mecanismo
              de apoio a qualquer cidadão que deseja sair deste mundo.</p>
      </div>
      <div class="col-md-4">
      <img id="image_home_header" src="<%=image_path "sct.jpg"%>" class="img-rounded">
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <div class="container">
    <div class="col-sm-4">
      <img id="image_home" class="img-circle img-responsive img-center" src="<%=image_path "FILOSOFIA-DROGAS.jpg"%>">
        <h2>Informações</h2>
          <p> Conheça os efeitos do uso e as informações gerais sobre as drogas e os seus principais tipos.
      </div>
    <div class="col-sm-4">
      <img id="image_home" class="img-circle img-responsive img-center" src="<%=image_path "verdades.jpg"%>">
        <h2>Campanha Anti-Drogas</h2>
          <p> Campanha de apoio para usuários de drogas que querem se livrar da dependencia dessas substâncias.
      </div>
     <div class="col-sm-4">
      <img id="image_home" class="img-circle img-responsive img-center" src="<%=image_path "clinicaterapeutica.jpg"%>">
        <h2>Unidades Terapêuticas</h2>
          <p> Oferecem gratuitamente acolhimento para pessoas com transtornos decorrentes do uso, abuso ou dependência de drogas.
      </div>
</body>
