<html>
	<body>
		<center>
			<h1>CAMPANHAS ANTI DROGAS</h1>
			<br>
			<p>As campanhas fazem parte da primeira linha de defesa contra as drogas. Sejam programas educacionais ou sistemas de apoio ao dependente, elas tem apresentado excelentes resultados na luta contra as drogas. Abaixo, você encontra uma seleção de diferentes campanhas que fazem parte desta luta. Clique nas imagens para ser redirecionado ao site da campanha.</p>
		</center> 
		<table border="1", style="width:100%">
      <% @campaign.each do |campaign| %>
        <tr>
          <td><a href="<%= campaign.url %>"  target="_blank"><%= campaign.name %></a></td>
          <td><%= campaign.description %></td>
        </tr>
      <% end %>  
    </table>
	</body>
</html>

