<html>
	<body>
		<center>
			<h1>CAMPANHAS ANTIDROGAS</h1>
			<br>
			<p>As campanhas fazem parte da primeira linha de defesa contra as drogas para a população. Sejam programas educacionais ou sistemas de apoio ao dependente, elas tem apresentado excelentes resultados na luta contra as drogas. Abaixo, você encontra uma seleção de diferentes campanhas que fazem parte desta luta. Clique nas imagens para ser redirecionado ao site da campanha.</p>
		</center>
		<h3><center>Sites</center></h3>

		<table class="table table-bordered">
 <thead>
   <tr class="active">
     <th>
       Site:
     </th>
     <th>
     Teste:
     </th>
   </tr>
</thead>
</table>
	</body>
</html>