/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require rails_bootstrap_forms
 *= require bootstrap-material-design
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
    width :50px;
}

#main_menu {
    height :50px;
}

#Thumb {
    height :204px;
    width :334px;
}

#container_margin {
    margin-top :250px;
}

#sign_in_button {
    width :144px;
}

#sign_in_text_field {
    width :190px;
}

#image_home {
    width :340px;
    height :300px;
}

.dorgas-image {
    &:hover {
        opacity: 0.5;
    }
}


.pagination {
 background:transparent;
 cursor:default;
 height:10px;
 a, spam, em{
    padding: 0.2em 0.5em;
        margin-right: 2px;
 }
 .current{
    font-style: normal;
    font-weight: bold;
    background: #2e6ab1;
    color: white;
    border: 1px solid #2e6ab1;
 }
 a{
   text-decoration: none;
   color: #105cb6;
   border: 1px solid #9aafe5;
   &:hover, &.focus{
    color: #000033;
    border-color: #000033;
   }
 }
 .page_info{
    background: #2e6ab1;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom:0.3em;
    text-align:center;
 }
}
#image_campaign {
  width :180px;
  height :180px;

}

#image_folder {
  width :180px;
}
#aplication-body {
    background-image :url("backgroundcampo.jpg");
    background-size :cover;
    background-attachment :fixed;
    font-family: 'sans-serif'
}
