/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require rails_bootstrap_forms
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
    width :50px;
}

#main_menu {
    height :50px;
}

#Thumb {
    height :204px;
    width :334px;
}

#jumbotron_margin {
    margin :44px;
}

#sign_in_button {
    width :144px;
}

#sign_in_text_field {
    width :190px;
}

#image_home {
    width :340px;
    height :300px;
}

.jumbotron {
background-color :#DDDDDD
}

.dorgas-image {
    &:hover {
        opacity: 0.5;
    }
}

#image_campaign {
  width :180px;
  height :180px;   
}

#image_folder {
  width :180px;   
}