<h1>Editar Depoimento</h1>

<%= bootstrap_form_for(@testimonial) do |t| %>
	<%= t.text_field :title, label: "Título" %>
	<%= t.text_area :body, label: "Texto", size: "30x10" %>
	<%= t.submit "Enviar" %>
	<% end %>